<MApp-formulario-padrao
    [titulo]="titulo"
    [rotaVoltarPara]="['medicos']"
    [desabilitarBotaoSalvar]="formularioInvalido"
    tituloInformativo="Informações de médico"
    (salvar)="salvar()">

  <form [formGroup]="form">
    <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="crm">CRM</label>
            <input type="text" id="crm" [ngClass]="{'is-invalid': crmControl.invalid}" class="form-control" formControlName="crm">
            <small class="text-danger" *ngIf="crmControl.hasError('required')">Campo obrigatório</small>
            <small class="text-danger" *ngIf="crmControl.hasError('maxlength')">CRM pode conter até 10 caracteres.</small>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" [ngClass]="{'is-invalid': nomeControl.invalid}" class="form-control" formControlName="nome">
            <small class="text-danger" *ngIf="nomeControl.hasError('required')">Campo obrigatório</small>
            <small class="text-danger" *ngIf="nomeControl.hasError('maxlength')">Nome pode conter até 100 caracteres.</small>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input class="form-control" [ngClass]="{'is-invalid': telefoneControl.invalid}" type="text" id="telefone" formControlName="telefone" >
            <small class="text-danger" *ngIf="telefoneControl.hasError('maxlength')">Telefone pode conter até 20 caracteres.</small>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="valoConsultra">Valor da consulta</label>
          <input class="form-control" type="text" currencyMask formControlName="valorConsulta">
        </div>
      </div>
    </div>
  </form>

</MApp-formulario-padrao>
